body {
    font-family: "roboto", sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.header,
.banner {
    display: flex;
    background: #1F2937;
    color: #F9FAF8;
    align-items: center;
}

.header {
    padding: 18px 150px;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.links-header {
    display: flex;
    gap: 16px;
}

.banner {
    padding: 48px 150px;
    gap: 24px
}

.banner .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner-title {
    font-size: 48px;
    font-weight: 900;
}

.banner-text {
    margin-bottom: 12px;
}

button {
    width: 100px;
    padding: 8px 16px;
    color: #F9FAF8;
    background: #3882F6;
    font-weight: 700;
    border-radius: 6px;
    border: none;
}

.information {
    text-align: center;
    padding: 24px;
    margin-bottom: 48px;
}

.title {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 24px;
}

.information .container {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 100px;
}

.card img {
    border: 3px solid #3882F6;
    border-radius: 6px;
    width: inherit;
    height: 100px;
    
}
